<nz-page-header nzBackIcon>
  <nz-page-header-title>NHÓM NHÂN VIÊN</nz-page-header-title>
  <!-- <nz-page-header-subtitle>Danh sách nhóm nhân viên</nz-page-header-subtitle> -->
   
  <nz-page-header-extra>
    <div class="header-actions">
      <div class="search-group">
        <input
          class="search-input"
          type="text"
          nz-input
          placeholder="Tìm kiếm"
          [(ngModel)]="filter.keyWord"
          (keyup.enter)="search()"
        />
        <div class="search-buttons">
          <button
            (click)="search()"
            class="flex !items-center gray-btn icon-only"
            nzType="default"
            nz-button
          >
            <span nz-icon nzType="search"></span>
          </button>
          <button
            (click)="reset()"
            class="flex !items-center gray-btn icon-only"
            nzType="default"
            nz-button
          >
            <span nz-icon nzType="redo"></span>
          </button>
        </div>
      </div>
      <div class="action-group">
        <button
          (click)="openCreate()"
          class="!flex !items-center"
          nzType="default"
          nz-button
        >
          <span nz-icon nzType="plus"></span> Thêm mới
        </button>
      </div>
    </div>
  </nz-page-header-extra>

  <nz-page-header-content class="main-content">
    <nz-table class="auto-scroll-table" #headerTable nzBordered [nzData]="paginationResult.data"
      [nzFrontPagination]="false" [nzScroll]="{ y: 'calc(100vh - 244px)' }">

      <thead>
        <tr>
          <th nzAlign="center" style="width: 60px">STT</th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('code', $event)" style="width: auto">
            Mã
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('fullName', $event)" style="width: auto">
            Tên nhân viên
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('position', $event)" style="width: auto">
            Chức vụ
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('isActive', $event)" nzAlign="center">
            Trạng thái
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let data of headerTable.data; let i = index">
          <td>
            {{
            (paginationResult.currentPage - 1) * paginationResult.pageSize + i + 1
            }}
          </td>
          <td>
            <a (click)="openEdit(data)">{{ data.code }}</a>
          </td>
          <td>{{ data.fullName }}</td>
          <td>{{ data.position }}</td>
          <td nzAlign="center">
            <nz-tag nzColor="success" *ngIf="data.isActive">
              <nz-icon nzType="check-circle" />
              <span>Kích hoạt</span>
            </nz-tag>
            <nz-tag nzColor="error" *ngIf="!data.isActive">
              <nz-icon nzType="close-circle" />
              <span>Khoá</span>
            </nz-tag>
          </td>
        </tr>
      </tbody>

    </nz-table>
  </nz-page-header-content>

  <nz-page-header-content class="footer-content">
    <div *ngIf="paginationResult?.data" class="flex justify-end p-[10px] border-t border-custom-gray border-solid">
      <nz-pagination nzShowSizeChanger [nzPageIndex]="filter.currentPage" [nzTotal]="paginationResult.totalRecord"
        [nzPageSize]="filter.pageSize" (nzPageIndexChange)="pageIndexChange($event)"
        (nzPageSizeChange)="pageSizeChange($event)"></nz-pagination>
    </div>
  </nz-page-header-content>

</nz-page-header>

<!--Create Update-->
<nz-drawer [nzMask]="!edit" nzSize="default" [nzVisible]="visible" nzPlacement="right"
  [nzTitle]="edit ? ' Chỉnh sửa  ' : ' Tạo mới  '" [nzExtra]="extra" (nzOnClose)="close()">
  <ng-container *nzDrawerContent>
    <form nz-form nzLayout="vertical" [formGroup]="validateForm" (ngSubmit)="submitForm()">

      <app-input-clear placeholder="Nhập mã nhân viên" 
        [required]="true" label="Mã "
        [control]="$any(validateForm).controls['code']" 
        [required]="true" [disabled]="edit ? true : false">
      </app-input-clear>

      <app-input-clear placeholder="Nhập tên nhân viên" 
        [required]="true" label="Tên nhân viên"
        [control]="$any(validateForm).controls['fullName']">
      </app-input-clear>

      <app-input-clear placeholder="Chức vụ" 
        [required]="true" label="Chức vụ"
        [control]="$any(validateForm).controls['position']">
      </app-input-clear>

      <app-input-clear placeholder="Số điện thoại" 
        [required]="false" label="Số điện thoại"
        [control]="$any(validateForm).controls['phoneNumber']" 
        [errorsWrongFormat]="'Số điện thoại phải gồm 10 chữ số'">
      </app-input-clear>

      <app-input-clear placeholder="Chữ ký số" 
        [required]="true" label="Chữ ký số"
        [control]="$any(validateForm).controls['digitalSig']">
      </app-input-clear>

      <app-input-clear placeholder="Email" 
        [required]="true" label="Email"
        [control]="$any(validateForm).controls['email']">
      </app-input-clear>

      <app-input-clear placeholder="Địa chỉ" 
        [required]="true" label="Địa chỉ"
        [control]="$any(validateForm).controls['address']">
      </app-input-clear>

      <nz-form-item>
        <nz-form-label>Trạng thái</nz-form-label>
        <nz-form-control>
          <nz-radio-group formControlName="isActive">
            <label nz-radio [nzValue]="true">Kích hoạt</label>
            <label nz-radio [nzValue]="false">Khoá</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>

    </form>
  </ng-container>
</nz-drawer>

<ng-template #extra>
  <nz-space>
    <ng-container *ngIf="edit">
      <button [nzLoading]="loading" *nzSpaceItem nz-button nzType="primary" class="!flex !items-center"
        (click)="submitForm()">
        <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
      </button>
    </ng-container>
    <ng-container *ngIf="!edit">
      <button [nzLoading]="loading" *nzSpaceItem nz-button nzType="primary" class="!flex !items-center"
        (click)="submitForm()">
        <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
      </button>
    </ng-container>
    <button *nzSpaceItem nz-button nzType="default" nzType="primary" class="!flex !items-center" nzDanger
      (click)="close()">
      <span nz-icon nzType="close-circle" nzTheme="outline"></span>Huỷ
    </button>
  </nz-space>
</ng-template>