<nz-page-header nzBackIcon>
  <nz-page-header-title>NHÓM CỬA HÀNG</nz-page-header-title>
  <!-- <nz-page-header-subtitle>Danh sách nhóm cửa hàng</nz-page-header-subtitle> -->

  <nz-page-header-extra>
      <div class="header-actions">
        <div class="search-group">
          <input
            class="search-input"
            type="text"
            nz-input
            placeholder="Tìm kiếm"
            [(ngModel)]="filter.keyWord"
            (keyup.enter)="search()"
          />
          <div class="search-buttons">
            <button
              (click)="search()"
              class="flex !items-center gray-btn icon-only"
              nzType="default"
              nz-button
            >
              <span nz-icon nzType="search"></span>
            </button>
            <button
              (click)="reset()"
              class="flex !items-center gray-btn icon-only"
              nzType="default"
              nz-button
            >
              <span nz-icon nzType="redo"></span>
            </button>
          </div>
        </div>
        <div class="action-group">
          <button
            (click)="openCreate()"
            class="!flex !items-center"
            nzType="default"
            nz-button
          >
            <span nz-icon nzType="plus"></span> Thêm mới
          </button>
        </div>
      </div>
    </nz-page-header-extra>

  <nz-page-header-content class="main-content">
    <nz-table class="auto-scroll-table" #headerTable nzBordered [nzData]="paginationResult.data"
      [nzFrontPagination]="false" [nzScroll]="{ y: 'calc(100vh - 244px)' }">

      <thead>
        <tr>
          <th nzAlign="center" nzWidth="60px">STT</th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('code', $event)" style="width: auto">
            Mã
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('name', $event)" style="width: auto">
            Tên cửa hàng
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('phone', $event)" style="width: auto">
            Số điện thoại
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('address', $event)" style="width: auto">
            Địa chỉ
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('area', $event)" style="width: auto">
            Khu vực
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('area', $event)" style="width: auto">
            Tài khoản
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('isActive', $event)" nzAlign="center">
            Trạng thái
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let data of headerTable.data; let i = index">
          <td>
            {{
            (paginationResult.currentPage - 1) * paginationResult.pageSize + i + 1
            }}
          </td>
          <td>
            <a (click)="openEdit(data)">{{ data.code }}</a>
          </td>
          <td>{{ data.name }}</td>
          <td>{{ data.phone }}</td>
          <td>{{ data.address }}</td>
          <td>{{ data.area }}</td>
          <td>
            <button nz-button nzType="link" (click)="openCreateAccount(data.code)">
              + Tạo tài khoản
            </button>

            <div *ngFor="let acc of accountMap.get(data.code)">
              <a (click)="openEditAccount(acc)">
                {{ acc.userName }}
              </a>
            </div>
          </td>
          <td nzAlign="center">
            <nz-tag nzColor="success" *ngIf="data.isActive">
              <nz-icon nzType="check-circle" />
              <span>Kích hoạt</span>
            </nz-tag>
            <nz-tag nzColor="error" *ngIf="!data.isActive">
              <nz-icon nzType="close-circle" />
              <span>Khoá</span>
            </nz-tag>
          </td>
        </tr>
      </tbody>

    </nz-table>
  </nz-page-header-content>

  <nz-page-header-content class="footer-content">
    <div *ngIf="paginationResult?.data" class="flex justify-end p-[10px] border-t border-custom-gray border-solid">
      <nz-pagination nzShowSizeChanger [nzPageIndex]="filter.currentPage" [nzTotal]="paginationResult.totalRecord"
        [nzPageSize]="filter.pageSize" (nzPageIndexChange)="pageIndexChange($event)"
        (nzPageSizeChange)="pageSizeChange($event)"></nz-pagination>
    </div>
  </nz-page-header-content>

</nz-page-header>

<nz-drawer
  [nzMask]="true"
  [nzMaskClosable]="true"
  nzSize="default"
  [nzClosable]="false"
  [nzVisible]="accountVisible"
  nzPlacement="right"
  [nzTitle]="accountEdit ? 'Chỉnh sửa tài khoản' : 'Tạo tài khoản'"
  [nzExtra]="accountExtra"
  (nzOnClose)="closeAccount()"
>
  <ng-container *nzDrawerContent>
    <form nz-form nzLayout="vertical" [formGroup]="accountForm">

      <app-input-clear
        label="Mã cửa hàng"
        [control]="$any(accountForm).controls['storeCode']"
        [disabled]="true">
      </app-input-clear>

      <app-input-clear
      label="Tên đăng nhập"
      [control]="$any(accountForm).controls['userName']"
      [disabled]="accountEdit">
      </app-input-clear>

      <app-input-clear
        label="Tên đầy đủ"
        [control]="$any(accountForm).controls['fullName']">
      </app-input-clear>

      <nz-form-item *ngIf="!accountEdit">
        <nz-form-label>Mật khẩu</nz-form-label>
        <nz-form-control>

          <nz-input-group [nzSuffix]="suffixIcon">
            <input
              nz-input
              [type]="showPassword ? 'text' : 'password'"
              formControlName="password"
            />
          </nz-input-group>

          <ng-template #suffixIcon>
            <span
              nz-icon
              [nzType]="showPassword ? 'eye-invisible' : 'eye'"
              (click)="showPassword = !showPassword"
              style="cursor: pointer"
            ></span>
          </ng-template>

        </nz-form-control>
      </nz-form-item>

      <app-input-clear
        label="Số điện thoại"
        [control]="$any(accountForm).controls['phoneNumber']">
      </app-input-clear>

      <app-input-clear
        label="Email"
        [control]="$any(accountForm).controls['email']">
      </app-input-clear>

      <app-input-clear
        label="Địa chỉ"
        [control]="$any(accountForm).controls['address']">
      </app-input-clear>

      <nz-form-item>
        <nz-form-label>Trạng thái</nz-form-label>
        <nz-form-control>
          <nz-radio-group formControlName="isActive">
            <label nz-radio [nzValue]="true">Kích hoạt</label>
            <label nz-radio [nzValue]="false">Khoá</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>

    </form>
  </ng-container>
</nz-drawer>

<ng-template #accountExtra>
  <nz-space>
    <button [nzLoading]="loading" *nzSpaceItem nz-button nzType="primary" class="!flex !items-center" (click)="submitAccountForm()">
      Lưu
    </button>
    <button [nzLoading]="loading" *nzSpaceItem nz-button nzType="primary" class="!flex !items-center" nzDanger (click)="closeAccount()">
      Huỷ
    </button>
  </nz-space>
</ng-template>

<!--Create Update-->
<nz-drawer [nzMask]="!edit" nzSize="default" [nzVisible]="visible" nzPlacement="right"
  [nzTitle]="edit ? ' Chỉnh sửa  ' : ' Tạo mới  '" [nzExtra]="extra" (nzOnClose)="close()" [nzClosable]="false">
  <ng-container *nzDrawerContent>
    <form nz-form nzLayout="vertical" [formGroup]="validateForm" (ngSubmit)="submitForm()">

      <app-input-clear placeholder="Nhập mã cửa hàng" [required]="true" label="Mã "
        [control]="$any(validateForm).controls['code']" [required]="true" [disabled]="edit ? true : false">
      </app-input-clear>

      <app-input-clear placeholder="Nhập tên cửa hàng" [required]="true" label="Tên cửa hàng"
        [control]="$any(validateForm).controls['name']">
      </app-input-clear>

      <app-input-clear placeholder="Số điện thoại" [required]="true" label="Số điện thoại"
        [control]="$any(validateForm).controls['phone']">
      </app-input-clear>

      <app-input-clear placeholder="Địa chỉ" [required]="false" label="Địa chỉ"
        [control]="$any(validateForm).controls['address']"></app-input-clear>

      <app-input-clear placeholder="Khu vực" [required]="true" label="Khu vực"
        [control]="$any(validateForm).controls['area']"></app-input-clear>
      
      <nz-form-item>
        <nz-form-label>Trạng thái</nz-form-label>
        <nz-form-control>
          <nz-radio-group formControlName="isActive">
            <label nz-radio [nzValue]="true">Kích hoạt</label>
            <label nz-radio [nzValue]="false">Khoá</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>

    </form>
  </ng-container>
</nz-drawer>

<ng-template #extra>
  <nz-space>
    <ng-container *ngIf="edit">
      <button [nzLoading]="loading" *nzSpaceItem nz-button nzType="primary" class="!flex !items-center"
        (click)="submitForm()">
        <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
      </button>
    </ng-container>
    <ng-container *ngIf="!edit">
      <button [nzLoading]="loading" *nzSpaceItem nz-button nzType="primary" class="!flex !items-center"
        (click)="submitForm()">
        <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
      </button>
    </ng-container>
    <button *nzSpaceItem nz-button nzType="default" nzType="primary" class="!flex !items-center" nzDanger
      (click)="close()">
      <span nz-icon nzType="close-circle" nzTheme="outline"></span>Huỷ
    </button>
  </nz-space>
</ng-template>
