<nz-drawer
  [nzMask]="true"
  [nzWidth]="drawerWidth"
  [nzVisible]="visible"
  nzPlacement="right"
  nzTitle="Thêm mới"
  [nzExtra]="extra"
  (nzOnClose)="closeDrawer()"
  [nzClosable]="false"
>
  <ng-container *nzDrawerContent>
    <form
      nz-form
      nzLayout="vertical"
      [formGroup]="validateForm"
      (ngSubmit)="submitForm()"
    >
      <div nz-row [nzGutter]="12">
        <div nz-col [nzXs]="24" [nzMd]="12">
          <app-input-clear
            placeholder="Nhập tên tài khoản"
            [required]="true"
            label="Tên tài khoản"
            [control]="$any(validateForm).controls['userName']"
          ></app-input-clear>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="12">
          <nz-form-item>
            <nz-form-label>Mật khẩu</nz-form-label>
            <nz-form-control nzErrorTip="Không được để trống">
              <nz-input-group [nzSuffix]="suffixTemplatePassword">
                <input
                  nz-input
                  placeholder="Nhập mật khẩu"
                  formControlName="password"
                  [type]="passwordVisible ? 'text' : 'password'"
                />
              </nz-input-group>
              <ng-template #suffixTemplatePassword>
                <span
                  nz-icon
                  [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                  (click)="passwordVisible = !passwordVisible"
                ></span>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="12">
          <app-input-clear
            placeholder="Nhập tên đầy đủ"
            [required]="true"
            label="Tên đầy đủ"
            [control]="$any(validateForm).controls['fullName']"
          ></app-input-clear>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="12">
          <app-input-clear
            placeholder="Nhập địa chỉ"
            label="Địa chỉ"
            [control]="$any(validateForm).controls['address']"
          ></app-input-clear>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="12">
          <app-input-clear
            placeholder="Nhập số điện thoại"
            label="Số điện thoại"
            [control]="$any(validateForm).controls['phoneNumber']"
          ></app-input-clear>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="12">
          <app-input-clear
            placeholder="Nhập email"
            label="Email"
            [control]="$any(validateForm).controls['email']"
          ></app-input-clear>
        </div>
        <div nz-col [nzXs]="24" [nzMd]="12">
      <app-input-select
        label="Kiểu người dùng"
        [required]="true"
        placeholder="Chọn kiểu người dùng"
        [control]="$any(validateForm).controls['accountType']"
        [options]="accountTypeOptions"
      ></app-input-select>
    </div>
    <div nz-col [nzXs]="24" [nzMd]="12" *ngIf="isShowReferenceSelect">
  <app-input-select
    [label]="referenceLabel"
    [required]="true"
    [placeholder]="referenceLabel"
    [control]="$any(validateForm).controls['referenceCode']"
    [options]="referenceOptions"
  ></app-input-select>
</div>
        <!-- <div nz-col [nzXs]="24" [nzMd]="12">
          <nz-form-item>
            <nz-form-label>Chức vụ</nz-form-label>
            <nz-form-control nzErrorTip="Không được để trống">
              <nz-select
                nzShowSearch
                nzAllowClear
                placeholder="Chọn chức vụ"
                formControlName="positionCode"
              >
                <nz-option
                  cdkScrollable
                  *ngFor="let item of positionList"
                  [nzLabel]="item.name"
                  [nzValue]="item.code"
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div> -->
        <!--
        <div nz-col [nzXs]="24" [nzMd]="12">
          <nz-form-item>
            <nz-form-label>Đơn vị</nz-form-label>
            <nz-form-control nzErrorTip="Không được để trống">
              <nz-select
                nzShowSearch
                nzAllowClear
                placeholder="Chọn đơn vị"
                formControlName="organizeCode"
              >
                <nz-option
                  cdkScrollable
                  *ngFor="let item of orgList"
                  [nzLabel]="item.name"
                  [nzValue]="item.id"
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        -->
        <!-- <div nz-col [nzXs]="24" [nzMd]="12">
          <nz-form-item>
            <nz-form-label>Kho hàng</nz-form-label>
            <nz-form-control nzErrorTip="Không được để trống">
              <nz-select
                nzShowSearch
                nzAllowClear
                placeholder="Chọn kho hàng"
                formControlName="warehouseCode"
              >
                <nz-option
                  cdkScrollable
                  *ngFor="let item of warehouseList"
                  [nzLabel]="item.name"
                  [nzValue]="item.code"
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div> -->
        <!-- <div nz-col [nzXs]="24" [nzMd]="12" *ngIf="isShowSelectPartner">
          <nz-form-item>
            <nz-form-label>Chọn đối tác</nz-form-label>
            <nz-form-control nzErrorTip="Không được để trống">
              <nz-select nzShowSearch nzAllowClear placeholder="Chọn kiểu người dùng" formControlName="partnerId">
                <nz-option cdkScrollable *ngFor="let item of listPartnerCustomer" [nzLabel]="item.name"
                  [nzValue]="item.id">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div> -->
        <div nz-col [nzXs]="24">
          <nz-form-item>
            <nz-form-label>Trạng thái</nz-form-label>
            <nz-form-control>
              <nz-radio-group formControlName="isActive">
                <label nz-radio [nzValue]="true">Kích hoạt</label>
                <label nz-radio [nzValue]="false">Khoá</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>

    <!--
    <label>Chọn ảnh</label>
    <div class="main-upload">
      <div class="upload-avatar" (click)="fileInput.click()">
        <nz-icon
          nzType="cloud-upload"
          nzTheme="outline"
          style="font-size: 24px"
        />
        <div>Chọn ảnh</div>
      </div>
      <div
        class="avatar-preview"
        *ngIf="avatarBase64 != null && avatarBase64 != ''"
      >
        <img [src]="avatarBase64" width="128" height="128" />
      </div>
    </div>
    <input
      type="file"
      #fileInput
      accept="image/*"
      (change)="onFileSelected($event)"
      style="display: none"
    />
    -->
  </ng-container>
</nz-drawer>
<ng-template #extra>
  <nz-space>
    <button
      *nzSpaceItem
      nz-button
      nzType="default"
      class="!flex !items-center"
      (click)="submitForm()"
    >
      <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
    </button>
    <button
      *nzSpaceItem
      nz-button
      nzType="default"
      class="!flex !items-center"
      nzDanger
      (click)="closeDrawer()"
    >
      <span nz-icon nzType="close-circle" nzTheme="outline"></span>Đóng
    </button>
  </nz-space>
</ng-template>
